@model dynamic

<h3 class="text-center">Extra Reports</h3>
<hr />
<div class="row  justify-content-center">
    <div class="col-5">
        <table class="table table-striped text-lg-center">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Extra Name</th>
                    <th scope="col">Total Earned Price</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal total = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">*</th>
                            <td>@item.Name</td>
                            <td>@item.Total</td>
                        </tr>
                        total += item.Total;
                    }

                    <tr>
                        <td>*</td>
                        <td></td>
                        <td class="text-danger text-bold">Total @total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
