@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <a class="nav-item nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register" title="Manage">Hello @User.Identity?.Name!</a>


    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
    <a class="nav-link btn btn-link text-dark" href="Account/Logout">Çıkış</a>
}
else
{

    <a class="nav-item nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a>


    <a class="nav-item nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>


}

