@using BurgerCodeApp.Areas.Identity.Models;
@model UserVm

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" asp-controller="Account" asp-action="register" asp-area="identity" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" asp-for="UserName" class="form-control" />
                                            <label class="form-label" asp-for="UserName">Your UserName</label>
                                            <span asp-validation-for="UserName" class="text-danger ms-2"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" asp-for="EmailAddress" class="form-control" />
                                            <label class="form-label" asp-for="EmailAddress">Your Email</label>
                                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" asp-for="Password" class="form-control" />
                                            <label class="form-label" asp-for="Password">Password</label>
                                            <span asp-validation-for="Password" class="text-danger "></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="Password2" class="form-control" />
                                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                            <span id="passmessage" class="text-danger ms-auto"></span>

                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg" id="register" disabled>Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://img.freepik.com/free-photo/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?w=740&t=st=1684589563~exp=1684590163~hmac=1dcc0652e5a103712666b8f568e64c8655be0d42e3507a842e05759aa7a1f224"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var input1 = document.getElementById("Password");
        var input2 = document.getElementById("Password2");
        var message = document.getElementById("passmessage");
        var button = document.getElementById("register");

        input1.addEventListener("input", compareInputs);
        input2.addEventListener("input", compareInputs);

        function compareInputs() {
            if (input1.value == "" && input2.value == "") {
                message.textContent = ""
                message.className = message.className.replace("text-info", "text-danger");
                button.disabled = true;
            }
            else if (input1.value === input2.value) {
                message.textContent = "Şifreler aynıdır."
                message.className = message.className.replace("text-danger", "text-info");
                button.disabled = false;
            }

            else {
                message.textContent = "Şifreler farklı."
                message.className = message.className.replace("text-info", "text-danger");
                button.disabled = true;
            }
        }

    </script>
                            }