@using BurgerCodeApp.Areas.Admin.Models;
@model MenuVm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="text-end">
    <a class="btn btn-ghost-danger" asp-action="Index"><i class="fas fa-times"></i></a>
</div>
<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuName" class="control-label"></label>
                <input asp-for="MenuName" class="form-control" />
                <span asp-validation-for="MenuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuCategoryId" class="control-label"> Menu Category</label>
                <select asp-for="MenuCategoryId" class="form-control" asp-items="ViewBag.MenuCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MenuPrice" class="control-label">Price</label>
                <input asp-for="MenuPrice" class="form-control" />
                <span asp-validation-for="MenuPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label  class="control-label">Add Photo</label>
                <input type="file" name="photo" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js">
    </script>
}
