@model BurgerCodeApp.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="text-end">
    <a class="btn btn-ghost-danger" asp-action="Index"><i class="fas fa-times"></i></a>
</div>
<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MenuId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuCategoryId" class="control-label"></label>
                <select asp-for="MenuCategoryId" class="form-control" asp-items="ViewBag.MenuCategoryId"></select>
                <span asp-validation-for="MenuCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label class="control-label">Photo</label>
                <input type="file" name="UpdatePhoto" />
            </div>
           
            <div class="form-group">
                <label asp-for="SaleStatus" class="control-label"></label>
                <select asp-for="SaleStatus" asp-items="ViewBag.StatusList" class="form-control"></select>
                <span asp-validation-for="SaleStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                <input asp-for="PicturePath" class="form-control invisible" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mb-2" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
